body {
 margin: 0px;
 padding: 0px;
 background-color: #ededed
}

form {
 margin: 0px;
 padding: 0px;
}

.login_top {
 width: 100%;
 height: 100px;
 background-color: #0060A9;
 display: block;
 float: left;
}

.login_title {
 width: 480px;
 height: 50px;
 display: block;
 margin: auto;
 text-align: center;
 color: #fff;
 margin-top: 50px;
 line-height: 50px;
 font-family: "黑体";
 font-size: 24px;
 background: url("./images/logo_ico.png");
 background-position: 20px 0px;
 background-repeat: no-repeat;
}

.login_main {
 background: url('./images/login_bg.png');
 width: 423px;
 height: 366px;
 display: block;
 margin: auto;
 margin-top: 30px;
}

.login_main_top {
 width: 133px;
 height: 36px;
 background: url("./images/member_title.png");
 float: left;
 display: blcok;
 margin: 25px 0 0 135px;
}

.login_main_errortip {
 float: left;
 display: block;
 clear: both;
 width: 100%;
 padding-left: 95px;
 padding-top: 5px;
 color: red;
 font-size: 12px;
}

.login_main_ln {
 width: 100%;
 height: 40px;
 float: left;
 display: block;
 margin-top: 10px;
}

.login_main_ln input {
 width: 230px;
 height: 40px;
 margin-left: 95px;
 text-indent: 30px;
 border: 1px solid #bbb;
 font-size: 14px;
 background: url("./images/ln.png");
 background-repeat: no-repeat;
 background-position: left;
 line-height: 45px;
}

.login_main_pw {
 width: 100%;
 height: 40px;
 float: left;
 display: block;
 margin-top: 10px;
}

.login_main_pw input {
 width: 230px;
 height: 40px;
 margin-left: 95px;
 text-indent: 30px;
 border: 1px solid #bbb;
 font-size: 14px;
 background: url("./images/pw.png");
 background-repeat: no-repeat;
 background-position: left;;
 line-height: 45px;
}

.login_main_yzm {
 width: 100%;
 height: 40px;
 float: left;
 display: blcok;
 margin-top: 10px;
}

.login_main_yzm input {
 width: 133px;
 height: 40px;
 margin-left: 95px;
 text-indent: 10px;
 border: 1px solid #bbb;
 font-size: 14px;;
 line-height: 45px;
}

.login_main_remb {
/*  width: 100%;
 height: 30px;
 float: left;
 display: block;
 color: #bbb;
 font-size: 12px; */
 width: 100%;
 height: 40px;
 float: left;
 display: block;
 margin-top: 5px;
}

.login_main_remb input {
/*  float: left;
 margin-top: 10px;
 width: 90px; */
 width: 230px;
 height: 40px;
 margin-left: 95px;
 text-indent: 30px;
 border: 1px solid #bbb;
 font-size: 14px;
 background: url("./images/nyt.png");
 background-repeat: no-repeat;
 background-position: left;
 line-height: 45px;
}

.login_main_remb span {
 float: left;
 line-height: 20px;
 margin-top: 10px;
 margin-left: 95px;
 width: 90px;
}

.login_main_submit {
 width: 100%;
 height: 45px;
 float: left;
 display: block;
 margin-top: 3px;
}

.login_main_submit button {
 width: 150px;
 height: 55px;
 display: block;
 background: url("./images/button.png");
 border: none;
 margin-left: 135px;
 outline: none;
 cursor: pointer;
 margin-top: 5px;
}